<div class="col-md-2 static">
  <div class="suggestions" id="sticky-sidebar">
    <h4 class="grey">Who to Follow</h4>

    <div *ngFor="let user of nonFriends" class="follow-user">
      <img [src]="user.image ? 'http://localhost:4050' + user.image :  'assets/images/profile-icon-design-free-vector-300x300.jpg'" alt="" class="profile-photo-sm pull-left" />
      <div>
        <h5>
          <a [routerLink]="['/timelinerofile', user.id]">{{ user.fullname }}</a>
        </h5>
        <a href="#" class="text-green" (click)="sendRequest(user.id); $event.preventDefault()">
          Add friend
        </a>
      </div>
    </div>

    <!-- Optional: Show message if no users -->
    <div *ngIf="nonFriends.length === 0" class="text-muted p-2">
      No suggestions at the moment.
    </div>
  </div>
</div>
