<!-- Newsfeed Common Side Bar Left -->
<div class="col-md-3 sidebar-container">
  <div class="profile-card">
    <div class="profile-banner"></div>
    <div class="profile-content">
      <img [src]="user?.image || 'assets/images/profile-icon-design-free-vector-300x300.jpg'" alt="user" class="profile-photo" />
      <div class="profile-info">
        <h5>
          <a [routerLink]="['/timelinerofile']" class="profile-name">{{ user?.fullname }}</a>
        </h5>
        <div class="friend-count">
          <i class="fas fa-user-friends"></i>
          <span>{{ friendCount }} Connections</span>
        </div>
      </div>
    </div>
  </div>

  <!-- Modern Sidebar Menu -->
  <ul class="modern-nav">
    <li [routerLink]="['/newsfeed']" routerLinkActive="active">
      <div class="nav-item">
        <i class="fas fa-newspaper"></i>
        <span>Newsfeed</span>
      </div>
    </li>

    <li [routerLink]="['/timeline-friends']" routerLinkActive="active">
      <div class="nav-item">
        <i class="fas fa-users"></i>
        <span>Network</span>
      </div>
    </li>

    <li [routerLink]="['/timeline-album']" routerLinkActive="active">
      <div class="nav-item">
        <i class="fas fa-images"></i>
        <span>Gallery</span>
      </div>
    </li>
  </ul>

  <div class="chat-block">
    <div class="chat-header">
      <h3>Active Connections</h3>
      <i class="fas fa-ellipsis-h"></i>
    </div>
    <div class="online-users">
      <ul>
        <li *ngFor="let user of onlineUsers" class="user-item">
          <div class="user-avatar">
            <img [src]="user.image  ? 'http://localhost:4050' + user.image : 'assets/images/profile-icon-design-free-vector-300x300.jpg'" />
            <span class="online-indicator"></span>
          </div>
          <div class="user-info">
            <span class="user-name">{{ user.fullname }}</span>
            <span class="user-status">Active now</span>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
