<div class="container">
  <div class="timeline">
    <app-time-line-profile></app-time-line-profile>
    <div id="page-contents">
      <div class="row">
        <div class="col-md-3"></div>

        <div class="col-md-7">
          <!-- EDIT MODE -->
          <div *ngIf="isEditMode" class="edit-form-block">
            <form [formGroup]="userDetailsForm" (ngSubmit)="submit()">
              <div class="form-group">
                <label>Bio</label>
                <textarea formControlName="bio" class="form-control"></textarea>
              </div>

              <div class="form-group">
                <label>Work</label>
                <input formControlName="work" class="form-control">
              </div>

              <div class="form-group">
                <label>City</label>
                <input formControlName="city" class="form-control">
              </div>

              <div class="form-group">
                <label>Relationship</label>
                <select formControlName="relationship" class="form-control">
                  <option *ngFor="let r of relationships" [value]="r">{{ r }}</option>
                </select>
              </div>

              <div class="form-group">
                <label>High School</label>
                <input formControlName="highSchool" class="form-control">
              </div>

              <div class="form-group">
                <label>College</label>
                <input formControlName="college" class="form-control">
              </div>

              <div class="form-group">
                <label>Birthday</label>
                <input type="date" formControlName="birthday" class="form-control">
              </div>

              <div class="form-group">
                <label>Languages</label><br>
                <div *ngFor="let lang of languagesList">
                  <input type="checkbox" [value]="lang" (change)="onCheckboxChange($event, 'languages')"
                         [checked]="userDetailsForm.get('languages')?.value.includes(lang)"> {{ lang }}
                </div>
              </div>

              <div class="form-group">
                <label>Interests</label><br>
                <div *ngFor="let i of interestsList">
                  <input type="checkbox" [value]="i" (change)="onCheckboxChange($event, 'interests')"
                         [checked]="userDetailsForm.get('interests')?.value.includes(i)"> {{ i }}
                </div>
              </div>

              <button type="submit" class="btn btn-success">Save</button>
              <button type="button" class="btn btn-secondary" (click)="toggleEdit()">Cancel</button>
            </form>
          </div>

          <!-- VIEW MODE -->
          <div *ngIf="!isEditMode">
            <div class="about-content-block">
              <h4 class="grey"><i class="ion-ios-information-outline icon-in-title"></i>Personal Information</h4>
              <p>{{ userData.bio }}</p>
            </div>

            <div class="about-content-block">
              <h4 class="grey"><i class="ion-ios-briefcase-outline icon-in-title"></i>Work Experiences</h4>
              <p>{{ userData.work }}</p>
            </div>

            <div class="about-content-block">
              <h4 class="grey"><i class="ion-ios-location-outline icon-in-title"></i>Location</h4>
              <p>{{ userData.city }}</p>
            </div>

            <div class="about-content-block">
              <h4 class="grey"><i class="ion-ios-heart-outline icon-in-title"></i>Interests</h4>
              <ul class="interests list-inline">
                <li *ngFor="let interest of userData.interests">
                  {{ interest.interest }}
                </li>
              </ul>
            </div>

            <div class="about-content-block">
              <h4 class="grey"><i class="ion-ios-chatbubble-outline icon-in-title"></i>Language</h4>
              <ul>
                <li *ngFor="let lang of userData.languages">{{ lang.language }}</li>
              </ul>
            </div>

            <div class="about-content-block">
              <p><strong>Relationship:</strong> {{ userData.relationship }}</p>
              <p><strong>High School:</strong> {{ userData.highSchool }}</p>
              <p><strong>College:</strong> {{ userData.college }}</p>
              <p><strong>Birthday:</strong> {{ userData.birthday }}</p>
            </div>

            <button class="btn btn-primary" (click)="toggleEdit()">Update</button>
          </div>
        </div> <!-- end of .col-md-7 -->

        <app-time-line-detailes></app-time-line-detailes>

      </div> <!-- end of .row -->
    </div> <!-- end of #page-contents -->
  </div> <!-- end of .timeline -->
</div> <!-- end of .container -->
